.you
{
	margin-left:20%;
	color: #458B00;
	display:inline-block;
	position: fixed;
	margin-top: 6.5%
}
.other
{
	margin-left: 72%;
	color: #458B00;
	display:inline-block;
	position: fixed;
	margin-top: 6.5%
}
body 
{
	background-color:#C0C0C0;
	border-top-color:#458B00;
}
.line {
  position:absolute;
  border-right: thick solid #000000;
  left:49.8%;
  margin-top:10%;
  height: 60%;
  display:inline-block;
}
.box
{
 margin-left:9%;
 text-align:center;
 margin-top:12.5%;
 display:inline-block;
 
}
.Obox
{
 margin-left:23.5%;
 text-align:center;
 margin-top:12.5%;
 position: fixed;
 display:inline;
}
.paper
{
 position:relative;
 left: 53%;
 border: 8px solid red;
 border-radius: 98px;
}
.rock
{
 position:relative;
 right:15px;
 top:15px;
 border: 8px solid red;
 border-radius: 98px;
}
.scissors
{
 position:relative;	
 right:15px;
 left:15px;
 top:15px;
 border: 8px solid red;
 border-radius: 98px;
}
.timer
{

	border:2px solid black;
	text-align:center;
	left:47.8%;
	display:inline-block;
	position: fixed;
}
.timerText
{
	color:#3B5323;
	font-size: 48px;
}
.boxHidden
{
 margin-left:24%;
 text-align:center;
 margin-top:12.5%;
 display:inline-table;
 position: fixed;
 
}
.OboxHidden
{
 margin-left:61%;
 text-align:center;
 margin-top:12.5%; 
 display:inline-table;
}
p
{
	color: #458B00;
	font-size: 24px;
	position: relative;
	margin-top: 25%;

}
.win
{
	margin-top: 14%;
	color: #458B00;
	font-size: 100px;
}
