body {
	background-color: #f2f2f2 !important;
}
li {
	padding: 5px !important;
	font-size: 3em;
}
#creator {
	width: 40% !important;
}
#elo {
	position: absolute;
	top: 0;
	right: 0;
	border: solid 3px black;
	height: 8%;
	width: 100px;
	text-align: center;
	font-size: 150%;
	padding-top:0.6%;
}
